{% extends 'common/base.html' %}
{% load static %}

{% block navbarBlock%}
{% include "users/navbar.html" %}
{% endblock %}

{% block bodyBlock %}
    
<div class="text-center cover-container p-3 mx-auto flex-column">
  <main class="px-3 p-md-4 bg-dark text-white shadow-sm rounded border">
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        {% comment %} {{ form.as_ul}} {% endcomment %}
        {% comment %} <table> {% endcomment %}
        {% comment %} {{ form.as_table}} {% endcomment %}
        {% comment %} </table> {% endcomment %} 
        <button class="btn btn-outline-secondary">Zaloguj</button>
      </form>
    </div>
  </main>
</div>

    
{% endblock %}

{% block footerBlock %}
{% endblock %}