{% extends 'common/base.html' %}
{% load static %}

{% block bodyBlock %}
</br></br></br></br></br>
    <div class="text-center cover-container p-3 mx-auto flex-column">
      <main class="px-3 p-md-4 bg-dark text-white shadow-sm rounded border">
        <h1>Aleksandra Tomaszewska</h1>
        <p class="lead fw-normal">Najważniejsze chwile uwiecznione na fotografiach</p>
        </br>
        <p>
          <a href="{% url 'gallery-home' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-light">Galeria zdjęć</a>
        </p>
      </main>
    </div>
{% endblock %}

{% block footerBlock %}
{% endblock %}