{% extends 'common/base.html' %}
{% load static %}


{% block navbarBlock%}
{% include "gallery/navbar.html" %}
{% endblock %}

{% block bodyBlock %}

    {% for category in categories %}
    {% comment %} <a class="p-2 link-secondary" href="{% url 'image-category' category.slug %}">{{category.title}}</a> {% endcomment %}
    <div class="col-md-12 p-md-4 mb-2  shadow-sm rounded border">
      <div class="d-flex justify-content-between">
        <div class="col-md-7 px-2 ">
          <h1 class="display-4 fst-italic">{{category.title}}</h1>
          <div class="text-muted">
            <p class="lead my-3">{{category.description|truncatechars:250}}</p>
            <a href="{% url 'gallery-image-category' category.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">View Category</button></a>
          </div>
        </div>
        <div class="col-md-5">
          <img class="img-fluid rounded border float-right" src="{{category.image.landImage.url}}" alt="{{category.image.altText}}">
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}
