{% extends 'common/base.html' %}
{% load static %}


{% block navbarBlock%}
{% include "gallery/navbar.html" %}
{% endblock %}

{% block bodyBlock %}

  <section class="py-1 text-center container rounded border">
    <div class="row py-lg-3">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">{{category.title}}</h1>
        <p class="lead text-muted">{{category.description}}</p>
      </div>
    </div>
  </section>

  </br>
  
  <div class="album py-5 rounded border">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="{{image.tallImage.url}}" alt="{{image.altText}}">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="{{image.landImage.url}}" alt="{{image.altText}}">
                    </div>
                </div>
            </br>
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="{{image.squareImage.url}}" alt="{{image.altText}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


{% endblock %}
